.responsive {
    width: 100%;
    height: auto;
}

@media screen and (max-width : 768px) {
    .todo {
        flex-direction: column;
        align-items: flex-end;
    }

    .todo li {
        width: 100%;
    }

    .task-buttons {
        width: 100%;
    }
}

@media screen and (min-width : 768px) {
    .todo {
        flex-direction: column;
        align-items: flex-end;
    }

    .todo li {
        width: 100%;
    }

    .task-buttons {}
}

@media screen and (min-width : 992px) {
    .task-buttons {}
}

@media screen and (min-width : 1200px) {
    .task-buttons {}
}