* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  width: 73%;
  height: 80vh;
  background-color: rgba(0, 4, 255, 0.077);
  border-radius: 2.6rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box h1 {
  font-size: 3rem;
  margin-top: 2rem;
  color: #fff;
  text-shadow: 0 0 3px black;
}

.header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 20vh;
  width: 70%;
}

.select-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 2rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.filter-tasks-list {
  width: 100%;
  height: 100%;
  font-weight: bold;
  display: flex;
  gap: 2rem;
  color: #fff;
  pointer-events: none;
}
.filter-tasks-list li {
  padding: 0 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
  pointer-events: all;
  opacity: 0.6;
  text-shadow: 2px 2px 2px black;
}
.filter-tasks-list li:hover {
  opacity: 1;
}
.filter-tasks-active {
  border-bottom: 0.2rem solid rgb(255, 255, 255);
  font-weight: bold;
  opacity: 1 !important;
}

#todo-input {
  width: 100%;
  height: 40%;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

input[type="submit"] {
  display: none;
}

.tasks-container {
  width: 70%;
  padding: 0.5rem;
  text-align: center;
  margin-top: 2rem;
  overflow: scroll;
  overflow-x: hidden;
  height: 45vh;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.todo {
  background: rgba(255, 255, 255, 0.779);
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 20%;
  min-height: 2rem;
  font-size: 1.5rem;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  transition: all 0.3s 0.1s;
}

.todo li {
  display: flex;
  padding: 0.5rem;
  min-height: 3rem;
  align-items: center;
  font-size: 1.5rem;
  width: 85%;
  text-align: left;
  outline: 0;
}

.task-buttons {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-width: 90px;
  flex-wrap: wrap;
}

.todo button {
  all: unset;
  height: 100%;
  max-height: 3rem;
  width: 33%;
  text-align: center;
  cursor: pointer;
}

.todo button:hover {
  background-color: black;
  color: white;
}

.complete {
  opacity: 0.6;
  text-decoration: line-through;
}

.editing {
  border: 2px solid red;
}

.fa-trash,
.fa-pen,
.fa-check {
  pointer-events: none;
}

.modal-container {
  text-align: center;
  background-color: rgba(190, 190, 190, 0.727);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2 0.2;
}
.modal {
  text-align: center;
  background-color: rgb(230, 230, 230);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 0.7rem;
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.modal-container .buttons {
  display: flex;
  height: 20%;
  width: 100%;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
}
.modal-container .buttons button {
  all: unset;
  height: 100%;
  width: 30%;
  text-align: center;
  text-transform: uppercase;
  min-width: 2.5rem;
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
  color: aliceblue;
  border-radius: 0.5rem;
  padding: 0 1rem;
  opacity: 80%;
}

.modal-container .buttons .yes {
  background-color: rgb(2, 87, 2);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.modal-container .buttons .no {
  background-color: rgb(124, 8, 8);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.modal-container .buttons button:hover {
  opacity: 1;
}

.invis {
  display: none;
}

.modal-container h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.modal p {
  font-size: 1rem;
}

.select {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 40%;
  min-width: 6rem;
  display: none;
}

.filter-tasks {
  width: 100%;
  height: 100%;
  outline-style: none;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  outline: 0;
  box-shadow: none;
  position: relative;
}
